@{
    ViewData["Title"] = "Home Page";
}

@{
    //var homeTest = new SomeHomeClass { MyProperty = "yeah, it works" }; //not visible
    var orderTest = new SomeOrderClass { MyProperty = "yeah, it works" };
    var errorTest = new ErrorViewModel { RequestId = "cool, global still works" };
}


<div class="text-center">
    <h1 class="display-4">Welcome to the fake orders page</h1>
</div>
