@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var homeTest = new SomeHomeClass { MyProperty = "yeah, it works" };
    //var orderTest = new SomeOrderClass  //not visible
    var errorTest = new ErrorViewModel { RequestId = "cool, global still works" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
