@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var homeTest = new SomeHomeClass { MyProperty = "yeah, it works" };
    //var orderTest = new SomeOrderClass  //not visible
    var errorTest = new ErrorViewModel { RequestId = "cool, global still works" };
}

<div class="text-center">
    <h1 class="display-4">Home Page Test</h1>
</div>
<div class="test-results">
    <p>MultipleViewImportsQm.Models.ErrorTest: <span class="test-success">@errorTest.RequestId.ToString()</span> </p>
    <p>MultipleViewImportsQm.Models.Home.SomeHomeClass: <span class="test-success">@homeTest.MyProperty.ToString()</span></p>
    <p>MultipleViewImportsQm.Models.Orders.SomeOrderClass: <span class="test-success">not visible as expected</span></p>
</div>